body {
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

h1, h2, h3, h4 {
  text-align: center;
}

p {
  text-align: center;
  font-weight: 300;
}

.nav-link {
  margin-left: 7px;
  margin-right: 7px;
  font-family: 'Reenie Beanie', cursive;
  font-size: 2em;
}

.navbar-nav {
  float:none;
  margin:0 auto;
  display: block;
  text-align: center;
}

.navbar-nav > li {
    display: inline-block;
    float:none;
}

.bg-faded {
     background-color: transparent;
     z-index: 10;
     padding: 0 7px;
}

header {
  height: 85vh;
  width: 100%;
  background-image: url("../assets/beach_2.JPG");
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 64%, 0% 100%);
  clip-path: polygon(0 0, 100% 0, 100% 64%, 0% 100%);
  background-size: cover;
  background-position: bottom;
  margin-top: -80px;
  z-index: -1;
}

.header__title {
  margin: 0 auto;
  text-align: center;
  padding-top: 200px;
  color: rgba(250, 250, 250, 1);
}

.header__title h1 {
  font-family: 'Reenie Beanie', cursive;
  font-size: 7.5em;
}

.header__title p {
  font-size: 1.25em;
  letter-spacing: 2px;
}

.container {
  text-align: center;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0;
}

section {
  padding-top: 80px;
  padding-bottom: 50px;
}


h2, h3, h4 {
  font-family: 'Reenie Beanie', cursive;
    font-size: 3em;
}

img {
  border-radius: 10px;
}

.row {
  margin: 20px auto;
}

#about {
  max-width: 1000px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 1.2em;

}

#about p {
  text-align: justify;
}

#about img {
  width: 100%;
}

.carousel {
  width: 500px;
  margin: 0 auto;
}

#campervans {
  max-width: 1200px;
  font-weight: 300;
  margin: 0 auto;
}

#campervans h4 {
  text-align: center;
}
#campervans ul {
  margin: 0 -25px;
}

#campervans li {
  text-align: left;
  list-style: none;
  font-size: 14px;
}

#campervans p {
  max-width: 800px;
  margin: 0 auto;
}

#campervans img {
  width: 100%;
  height: 350px;
}

#campervans .row {
  margin: 10px auto 50px;
}

.van_name {
  font-size: 22px;
}

#accom {
  max-width: 1000px;
  margin: 0 auto;
  font-size: 18px;
  font-weight: 300;
}

#accom li {
  list-style: none;
  text-align: left;
}

#other {
  padding: 100px 0;
  margin: 0 auto;
  text-align: center;
  background-image: url("../assets/pexels-photo.jpg");
  -webkit-clip-path: polygon(0 0, 100% 10%, 100% 66%, 0% 100%);
  clip-path: polygon(0 0, 100% 10%, 100% 66%, 0% 100%);
  background-size: cover;
  background-position: bottom;
  color: #222;
  font-size: 1.25em;
}

.other {
  max-width: 1000px;
  margin: 50px auto;
}

.events,
.insurance {
  max-width: 400px;
  margin: 0 auto;
  margin-left: 50px;
  margin-right: 50px;
}

#area p {
  padding: 10px 0;
  margin: 0 auto;
  text-align: justify;
  color: #222;
  font-size: 1.25em;
}

#contact {
  /*background: #A0C1B8;*/
  background-image: url("../assets/pexels-photo2.jpeg");
  -webkit-clip-path: polygon(0 0, 100% 12%, 100% 100%, 0 100%);
  clip-path: polygon(0 0, 100% 12%, 100% 100%, 0 100%);
  background-size: cover;
  background-position: bottom;
  font-size: 1.25em;
    padding: 100px 0;
}

.social {
  max-width: 600px;
  margin: 0 auto;
}

.fa-facebook-official {
  /*color: #3C599F;*/
}

.fa-envelope {
  /*color: #fff999;*/
}

.hideme {
    opacity:0;
}

.col-md-4 {
  text-align: center;
}

.facebook,
.phone {
  text-align: center;
}

form {
  display: block;
  width: 400px;
  margin: 30px auto 0;
}

form input {
  width: 100%;
}

form textarea {
  width: 100%;
  margin-top: 20px;
  height: 250px;
}

input,
textarea {
  border: solid 1px #fff;
  border-radius: 5px;
  padding: 10px;
  color: #333;
}

button {
  display: block;
  width: 100px;
  margin: 0 auto;
  padding: 15px;
  border: none;
  border-radius: 5px;
  padding: 10px 5px;
  background: rgba(30, 120, 230, 0.65);
  color: #fff;
}

button:hover {
  background: rgba(130, 150, 130, 1);
  cursor: pointer;
}

@media screen and (max-width: 350px){
  main {
    padding: 5px;
  }
  .navbar .navbar-nav {
    float: left;
    width: 91%;
    margin: 0 auto;
    padding: 60px 0 80px 30px;
  }

  .header__title h1 {
    font-family: 'Reenie Beanie', cursive;
    font-size: 4em;
  }

  section {
    padding-top: 20px;
padding-bottom: 10px;
  }

  #campervans img {
    width: 100%;
    height: 200px;
}

#other {
  padding: 20px 0;
  -webkit-clip-path: polygon(0 0, 100% 10%, 100% 100%, 0% 100%);
  clip-path: polygon(0 0, 100% 10%, 100% 100%, 0% 100%);
}

.row {
  margin: 0 auto;
}

.carousel {
    width: 285px;
    margin: 0 auto;
}

#campervans ul {
  max-width: 100%;
}

#area p {
    text-align: justify;
    color: #222;
    font-size: 1em;
}

form {
    display: block;
    width: 275px;
    margin: 30px auto 0;
}

p {
  font-size: 14px;
}
}
